@font-face {
    font-family: digital;
    src: url(digital.ttf);
}

.text-center {
    text-align: center;
}

.calculator {
    width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    background-color: #888;
    box-shadow: 0 7px 0 #555;
}

.calculator__display {
    text-align: right;
    border: 1px solid #222;
    background-color: rgb(148, 161, 143);
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 60px;
    font-family: digital;
}

.calculator__inputs {
    display: flex;
    flex-wrap: none;
    width: 100%;
    border-top: 1px solid #666;
    padding-top: 10px;
}

.calculator__number-buttons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    direction: rtl;
    flex-grow: 1;
    margin-right: 10px;
}

.calculator__function-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
}

.calculator__button {
    padding: 5px;
    font-size: 16px;
    color: white;
    background-color: #AAA;
    border: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
}

.calculator__button--function {
    height: 30px;
    background-color: rgb(66, 90, 115);
    margin-bottom: 10px;
}

.calculator__button--function:last-child {
    margin-bottom: none;
}
